/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Posts/Posts.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Posts_posts_list__qLv6d {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style: none;
}

.Posts_posts_item__8ti2J {
  flex-basis: calc(20% - 10px);
}

