/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Users/Users.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Users_users_list__FTzIo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style: none;
}

.Users_users_item__uNmK3 {
  flex-basis: calc(20% - 10px);
}

