/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/User/User.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.User_user__Q2aoP {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  font-weight: 200;
  background-color: #fff;
}

.User_lineIndent__0SLE1 {
  padding-left: 20px;
}

.User_fontWeight__lVw4t {
  font-weight: 600;
}

